@model Verzamelwoede.Models.CategoryViewModel

@{
    ViewData["Title"] = "Categories";
}




<table class="table" style="border: 1px solid black; margin-top:5px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categories.First().Name) <!-- Correct reference to model -->
            </th>
            <th>
                Collections
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => category.Name)
                </td>
                <td>
                    @if (category.Collections != null && category.Collections.Any())
                    {
                        @foreach (var collection in category.Collections)
                        {
                            @collection.Name <br />
                        }
                        
                    }
                    else
                    {
                        <span>No Collections</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@category.Id" class="btn-custom">Edit</a>
                    <a asp-action="Details" asp-route-id="@category.Id" class="btn-custom">Details</a>
                    <a asp-action="Delete" asp-route-id="@category.Id" class="btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn-succes">Create New</a>
</p>
