@model IEnumerable<Verzamelwoede.Models.ItemViewModel>
@{
    ViewData["Title"] = "Items";

}

<div>
    <form asp-action="Index" method="get">
        <label for="searchTerm" class="form-label">Search Items:</label>
        <input type="text" id="searchTerm" name="searchTerm" value="@ViewData["SearchTerm"]" placeholder="Search items..." class="form-control" style="width: 300px; display: inline-block;" />
        <input type="submit" value="Search" class="btn btn-custom" />
    </form>
</div>

<div style="flex-grow: 1;">
    <!-- Dropdown form for sorting -->
    <div style="text-align: left; margin-bottom: 20px;">
        <form asp-action="Index" method="get" style="display: inline-block;">
            <label for="sortOrder">Sort by:</label>
            <select id="sortOrder" name="sortOrder" class="form-control" style="display: inline-block; width: auto;">
                <option value="name_asc" selected>Sort by Name (A-Z)</option>
                <option value="name_desc">Sort by Name (Z-A)</option>
                <option value="price_asc">Sort by Price (Low to High)</option>
                <option value="price_desc">Sort by Price (High to Low)</option>
                <option value="date_asc">Sort by Purchase Date (Oldest First)</option>
                <option value="date_desc">Sort by Purchase Date (Newest First)</option>
                <option value="category_asc">Sort by Category (A-Z)</option>
                <option value="category_desc">Sort by Category (Z-A)</option>
            </select>
            <input type="submit" value="Sort" class="btn btn-custom custom-border" />
        </form>
    </div>
</div>
<div>
    <h4>Total Price: €@ViewBag.GrandTotalPrice</h4>
</div>

<table class="table">
    <thead class="table-header">
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Item.Name)</th>
            <th>@Html.DisplayNameFor(model => model.First().Item.Description)</th>
            <th>@Html.DisplayNameFor(model => model.First().Item.Quantity)</th>
            <th>@Html.DisplayNameFor(model => model.First().Item.Price)</th>
            <th>@Html.DisplayNameFor(model => model.First().Item.Worth)</th>
            <th>@Html.DisplayNameFor(model => model.First().Item.YearOfPurchase)</th>
            <th>@Html.DisplayNameFor(model => model.First().Item.Condition)</th>
            <th>@Html.DisplayNameFor(model => model.First().Item.Origin)</th>
            <th>@Html.DisplayNameFor(model => model.First().Item.IsSold)</th>
            <th>@Html.DisplayNameFor(model => model.First().Item.IsLost)</th>
            <th>@Html.DisplayNameFor(model => model.First().Item.Category.Name)</th>
            <th>@Html.DisplayName("")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var itemViewModel in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => itemViewModel.Item.Name)</td>
                <td>@Html.DisplayFor(modelItem => itemViewModel.Item.Description)</td>
                <td>@Html.DisplayFor(modelItem => itemViewModel.Item.Quantity)</td>
                <td>€ @Html.DisplayFor(modelItem => itemViewModel.Item.Price)</td>
                <td>€ @Html.DisplayFor(modelItem => itemViewModel.Item.Worth)</td>
                <td>@Html.DisplayFor(modelItem => itemViewModel.Item.YearOfPurchase)</td>
                <td>@Html.DisplayFor(modelItem => itemViewModel.Item.Condition)</td>
                <td>@Html.DisplayFor(modelItem => itemViewModel.Item.Origin)</td>
                <td>@Html.DisplayFor(modelItem => itemViewModel.Item.IsSold)</td>
                <td>@Html.DisplayFor(modelItem => itemViewModel.Item.IsLost)</td>
                <td>@Html.DisplayFor(modelItem => itemViewModel.Item.Category.Name)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@itemViewModel.Item.Id" class="btn-custom">Edit</a>
                    <a asp-action="Details" asp-route-id="@itemViewModel.Item.Id" class="btn-custom">Details</a>
                    <a asp-action="Delete" asp-route-id="@itemViewModel.Item.Id" class="btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn-succes">Create New</a>
</p>

